<div class="card" style="width: 41rem;">
    <img src="assets/logo.png" class="card-img-top" alt="logo">
    <div class="card-body">
        <h5 class="card-title">Train your brain to be a Jeopardy juggernaut!</h5>
    </div>
</div>
<div class="btnclass">
    <button class="btn btn-primary btn-lg play-btn">Play</button>
    <button class="btn btn-primary btn-lg logout-btn">Log Out</button>
</div>
<script type="text/javascript" src="/js/index.js"></script>